html {
    height: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 12px;

    display: flex;
    flex-direction: column;
}

.raw_text {
    width: 80ch;
    height: 50em;
}

.spacer {
    flex: 1 0;
}

.pager {
    text-align: center;
    font-size: 85%;
}
.learn, .practice {
    max-width: 400px;
    align-self: center;
    font-size: 18px;
}

.formatted-text {
    text-indent: 1.5em hanging each-line;
    white-space: preserve;
    line-height: 1.3;
    max-width: 60ch;
}

@media only screen and (min-width: 1000px) {
    .learn, .practice {
        max-width: 500px;
        font-size: 24px;
    }
}


table td {
    padding: 4px 8px;
}


.action-buttons {
    max-width: 400px;
    align-self: center;
}
.action-buttons input {
    margin: 4px;
    width: 100%;
    padding: 6px;
}


footer {
	margin: 8px 0;
	font-size: 80%;
	text-align: center;
}
